<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ static_url("css/docs.css") }}">
    <script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
    <title>BBS system</title>
</head>
<body style="margin-top:10px">
<ul class="nav nav-pills nav-justifed">
  <li role="presentation"><a href="/">Index</a></li>
  {% if current_user != None %}
  <li role="presentation"><a href="/#">{{current_user}}</a></li>
  {% else %}
  <li role="presentation"><a href="/login">Login</a></li>
  {% end %}
  <li role="presentation"><a href="/logout">Logout</a></li>
</ul>
<div class="container">
{% block content %}
{% end %}
</div>
</body>
</html>
